*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #f0ddb2;
    color: #f0ddb2;
    font-family: Arial, Helvetica, sans-serif;
}
#ticket{
    background-color: #e33434;
    width: 60%;
    height: 300px;
    border-radius: 25px;
}
#ticket > #ticket_info > h1{
    width: 30%;
    padding: 20px;
    font-size: 45px;
}
#ticket > #ticket_info > h2{
    width: 30%;
    padding: 20px;
    font-size: 20px;

}
#code{
    background-color: white;
    height: 300px;
    float: right;
    width: 20%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
#ticket_info{
    height: 300px;
    float: left;
    width: 80%;
}
td{
    width: 40px;
    height: 40px;
    padding: 0%;
    background-color: #23a627;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
td:hover{
    background-color: gray;
}
td:active{
    background-color: #e33434;
}
.checkbox{
    width: 40px;
    height: 40px;
    opacity: 0%;
    margin: 0%;
}
td:has(input:checked){
    background-color: #e33434;
}
td:has(input:checked):hover{
    background-color: gray;
}
select, option{
    background-color: #581515;
    border-color: transparent;
    color: #f0ddb2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
select{
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin: 25px;
}
.bar1{
    background-color: black;
    width: 100%;
    height: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.bar2{
    background-color: black;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 7px;
}
.bar3{
    background-color: black;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 10px;
}
#screen{
    width: 50%;
    height: 300px;
    background-color: rgb(52, 52, 52);
    border-radius: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
#banner{
    width: 100%;
    height: 70px;
    background-color: #581515;
}
#logo{
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}
#wrap{
    display: flex;
    flex-direction: column;
}
#reserve{
    background-color: #581515;
    border-radius: 25px;
    width: 350px;
    height: 80px;
    margin: 25px;
    border-color: transparent;
    color: #f0ddb2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#reserve:hover, select:hover{
    background-color: #b92b2b;
}
table, #ticket, select, #screen, #reserve{
    margin-left: auto;
    margin-right: auto;
}